= form_for @note do |f|
  %p= f.text_field :title, placeholder: 'Your Note Title'
  %p= f.text_area :body_html, rows: 15, class: 'bootsy_text_area'
  .form-actions
    = f.submit 'Save Note', class: 'btn btn-default'
